@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	font-variant: small-caps;
	margin-top: 1em;
	text-align: right;
}

/* Begin bridgeheads */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}
/* End bridgeheads */

/* Begin verse */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}
/* End verse */

div header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

#summary-of-principles div > p{
	padding-left: 1em;
	text-indent: 0;
	text-indent: -1em;
}

#summary-of-principles ol{
	margin-top: 0;
}
